.wheelPicker {
  list-style-type: none;
  font-size: 2rem;
  text-align: center;
  max-height: 30vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 0;
}

.wheelPicker::-webkit-scrollbar {
  width: 0;
}

.wheelItem {
  border-radius: 0;
  color: white;
}
