.wheelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheelPicker {
  list-style-type: none;
  font-size: 2rem;
  text-align: center;
  max-height: 12rem;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-inline-start: 0;
}

.wheelPicker::-webkit-scrollbar {
  width: 0;
}

.wheelItem {
  border-radius: 0;
  color: white;
  cursor: pointer;
  border-bottom: .2rem solid #a3a6ff;
}

.arrow {
  cursor: pointer;
}
